a {
   font-size: 14px;
   line-height: 1.7;
   color: #666;
   margin: 0;
   transition: all 0.4s;
   -webkit-transition: all 0.4s;
   -o-transition: all 0.4s;
   -moz-transition: all 0.4s;
}

a:focus {
   outline: none !important;
}

a:hover {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   font-size: 14px;
   line-height: 1.7;
   color: #666;
   margin: 0;
}

input {
   outline: none;
   border: none;
}

input:focus {
   border-color: transparent !important;
}

button {
   outline: none !important;
   border: none;
   background: 0 0;
}

button:hover {
   cursor: pointer;
}

.footer-section {
   margin-top: 0px !important;
}

.txt1 {
   font-size: 15px;
   line-height: 1.4;
   color: #999;
}

.txt2 {
   font-size: 15px;
   line-height: 1.4;
   color: #4272d7;
}

.hov1:hover {
   text-decoration: underline;
}

.limiter {
   width: 100%;
   margin: 0 auto;
}

.container-login {
   width: 100%;
   min-height: 100vh;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 15px;
   margin-bottom: 100px;
   margin-top: 25px;
}

.wrap-login {
   width: 500px;
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
   -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
   -o-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
   -ms-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}

.login-form {
   width: 100%;
}

.login-form-title {
   display: block;

   font-size: 30px;
   color: #555;
   line-height: 1.2;
   text-align: center;
}

.wrap-input {
   width: 100%;
   position: relative;
   background-color: #fff;
   border: 1px solid #e6e6e6;
}

.wrap-input.rs1 {
   border-top: none;
}

.input {
   display: block;
   width: 100%;
   background: 0 0;

   font-size: 15px;
   color: #666;
   line-height: 1.2;
}

input.input {
   height: 68px;
   padding: 0 25px;
}

.container-login-form-btn {
   width: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   flex-wrap: wrap;
}

.login-form-btn {
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
   width: 100%;
   height: 60px;
   background-color: #4272d7;

   font-size: 14px;
   color: #fff;
   line-height: 1.2;
   text-transform: uppercase;
   -webkit-transition: all 0.4s;
   -o-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}

.login-form-btn:hover {
   background-color: #333;
}

.validate-input {
   position: relative;
}